div{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif Calibri;
  flex-direction: column;
  font-size: 1.5rem;
  border: 3px solid darkgreen;
  width: 750px;
  border-radius: 5px;
  padding: 15px;
  background-color: #F2F4FF;
  margin-left: 520px;
  font-weight: 400;
  margin-top: 5rem;
  height: 20vh;
}
div a{
  font-size: 1rem;
  background-color: green;
  color: white;
  font-family: sans-serif Calibri;
  border-radius: 10rem;
  padding: .7rem 1rem;
  margin: 1.5rem;
  opacity: .9;
}
div a:hover{
  opacity: .8;
  cursor: pointer;
}
h1 {
  color: green;
  font-size: 2rem;
}
