<header class="hover-effect relative" style="position: unset; top: 1.5rem; width: 100%; background-color: #fff; z-index: 1000;">
  <div class="absolute">
    <h1 routerLink="" style="color: #ef0808;font-style: italic;font-size: 40px;font-weight: bold;cursor: pointer;font-family: Consolas">ZOMATO</h1>
    <input type="text" placeholder="Search Food from Zomato" [(ngModel)]="searchItem" (change)="search()" style="width: 800px">
    <button (click)="search()">Search</button>

    <ul class="flex justify-end" style="list-style-type: none">
      <li style="display: inline-block; margin-left: 50px" ><a routerLink="Cart">Cart</a></li>
      <li style="display: inline-block;margin-left: 10px "><a routerLink="Login">Login</a></li>
      <li style="display: inline-block; margin-left: 10px"><a routerLink="Register">Register</a></li>
    </ul>
  </div>
</header>



