<header class="hover-effect relative">
  <div class="absolute p-4" >
    <input type="text" placeholder="Search Food from Zomato" [(ngModel)]="searchItem" (change)="search()" style="width: 800px">
    <button (click)="search()">Search</button>
  </div>
  <ul class="flex justify-end" style="list-style-type: none">
    <li style="display: inline-block; margin: 10px; " ><a routerLink="Cart">Cart</a></li>
    <li style="display: inline-block; margin: 10px;"><a routerLink="Login">Login</a></li>
    <li style="display: inline-block; margin: 10px;"><a routerLink="Register">Register</a></li>
  </ul>


</header>


