<div class="container-fluid">
  <form [formGroup]="login" (ngSubmit)="onLogin()"
      style="max-width: 400px; height: auto; margin: auto; margin-top: 150px; border: 2px solid #B07BAC; padding: 20px; border-radius: 5px; background-color: #F2FFE9; ">

  <div class="form-group">
    <label><b><i class="fas fa-envelope"></i> Email:</b></label>
    <input type="text" formControlName="email" placeholder="Enter User Email" class="form-control"
           [ngClass]="{'is-invalid': login.get('email').invalid && login.get('email').touched}">
    <div *ngIf="login.get('email').hasError('required') && login.get('email').touched" class="invalid-feedback">
      Email is required.
    </div>
    <div *ngIf="login.get('email').hasError('email') && login.get('email').touched" class="invalid-feedback">
      Enter a valid email address.
    </div>
  </div>

  <div class="form-group">
    <label style="margin-top: 15px"><b><i class="fas fa-lock"></i> Password:</b></label>
    <input type="password" formControlName="password" placeholder="Enter User Password" class="form-control"
           [ngClass]="{'is-invalid': login.get('password').invalid && login.get('password').touched}">
    <div *ngIf="login.get('password').hasError('required') && login.get('password').touched" class="invalid-feedback">
      Password is required.
    </div>
    <div *ngIf="login.get('password').hasError('minlength') && login.get('password').touched" class="invalid-feedback">
      Password must be at least 8 characters long.
    </div>
  </div>
  <div>
    <button type="submit"
            style="color:#76056d; border:2px solid #B07BAC;background-color:#fff; padding: 10px; width: 30%; cursor: pointer; margin-top: 120px; margin-left: 15px; display: block;"
      (click)="onLogin()">Login
    <a routerLink='/'></a></button>
  </div>
    <div style="display: flex; justify-content: space-between;">
      <a href="Register" style="margin-top: 5px; color: #76056d;margin-left: 15px; cursor: pointer">Need Account?</a>
      <a href="forgot-password" style="color: #76056d;margin-top: 5px;margin-right: 15px; cursor: pointer" type="submit-2">Forgot Password?</a>
    </div>
    <button id="Sign-in" (click)="signInWithGoogle()" style="color:#000000;background-color: white; padding: 10px; width: 60%; cursor: pointer; margin-top: 15px; margin-left: 80px; display: flex; align-items: center;">
      <img src="/assets/search%20.png" alt="Google Image" style="height: 20px; margin-right: 10px;">
      Sign in with Google
    </button>
  </form>
</div>

