.container{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
.container > *{
  min-width: 25rem;
  max-width: 30rem;
}
img{
  border-radius: 3rem;
  flex:1 0;
  height: 20rem;
  margin-top: 4rem;
}
img:hover{
  opacity: .9;
  cursor: pointer;
}
.details{
  width:30%;
  border-radius: 3rem;
  padding: 2rem;
  color: black;
  align-items: center;
  margin-left: 48rem;
  border: #424242;
}
.details .name{
  font-size: 2rem;
  font-weight: bold;
  margin-left: 50px;
}
.details .favorite{
  font-size: 2rem;
  color: red;
}
.details .favorite.not{
  color: gray;
  font-size: 2rem;
  color: red;
}
.origin-item {
  background-color: #e0e0e0;
  padding: 10px;
  margin-left: 60px;
  margin-bottom: 10px;
  border-radius: 15px;
  font-size: 16px;
  color: #333;
  width: fit-content
}


.details .cook-time{
  margin-left: 1rem;
}
.details .price{
  font-size: 1.3rem;
  color: green;
  margin-left:1.2rem ;
}
.details .price::before{
  content:"Price: ";
  color: gray;
}
.details button{
  color:white;
  background-color: #e42929;
  border: 2px solid red;
  font-size: 1.2rem;
  padding: .8rem;
  border-radius: 8rem;
  width: 280px;
  outline: none;
  margin-top: 1rem;
}
.details button:hover{
  opacity: .9;
  cursor: pointer;
}
